.searchBoxContainer {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .searchBox {
    background-color: white;
    height: 2.5rem;
    width: 90%;
    border-radius: 0.25rem;
    overflow: hidden;
    display: flex;

    .categorySelect {
      height: 100%;
      width: fit-content;
      flex-shrink: 0;

      .select {
        background-color: #e6e6e6;
        height: 100%;
        border: none;
        border-radius: 0;
        border-right: 1px solid #b9b9b9;
        font-size: 0.75rem;
        :global {
          .MuiOutlinedInput-notchedOutline {
            border: none;
          }
          .MuiSvgIcon-root {
            path {
              fill: black;
            }
          }
        }
      }
    }
    .searchInputContainer {
      width: 100%;
      flex-shrink: 1;
      .searchInput {
        height: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        color: #111111;
      }
    }
    .searchIconContainer {
      width: 2.75rem;
      height: 100%;
      flex-shrink: 0;
      background-color: #febd69;
      color: #474747;
      display: flex;
      justify-content: center;
      align-items: center;
      .searchIcon {
        height: 70%;
        width: 70%;
      }
    }
  }
}
